body {
  font-size: 16px;
  color: #555;
  background-color: #fff;
  font-family: 'Offside', sans-serif;
}

body p {
  font-family: 'Poly', serif;
}

/* HEADER */
#header-nav {
  background-color: #3CA2A2;
}

.navbar-brand h1 {
  color: #FFF;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.navbar-brand h1:hover {
  color: #474843;
  -webkit-transition: ease 0.5s;
          transition: ease 0.5s;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #fff;
  text-align: center;
}

#nav-list a:hover {
  background: #474843;
}

/* END HEADER */
#main-content h1 {
  font-weight: 900;
  margin-bottom: 40px;
}

#main-text {
  background-color: #555;
  color: #fff;
}

#main-text h2 {
  padding-bottom: 10px;
}

/*********** Large devices only ***********/
/*********** Medium devices only ***********/
/*********** Small devices only ***********/
/*********** Extra small devices only ***********/
@media (max-width: 767px) {
  #main-content {
    width: 80%;
  }
}

/*********** SUPER Extra small devices only IPHONE4 ***********/
